body {
    margin: 0;
}

nav {
    display:table;
    width:100%;
    margin: 0;
    background-color: #9baeb1;
}

nav ul {
    font-size: x-large;
    padding-top: 10px;
    text-align: right;
}

nav ul, footer ul {
    font-family: 'Arial Black', 'Gadget', 'sans-serif';
    list-style: none;
    font-weight: bold;
}
.blurb ul li, nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    margin-top: 20px;
}

footer p {
    text-align: center;
    color: #9baeb1;
}
a {
    text-decoration: none;
}
nav a {
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin-top: 40px;
    padding-top: 10px;
    font-family:'Open Sans', sans-serif;
    border-top: 1px solid #d5d5d5;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.container {
    text-align: center;
}
