/* css variables*/
:root {
    --primary-color: #432E30;
    --primary-color-light: #8E7474;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --white-color: #FAFBFC;
    --light-gray-color: #C6CBD1;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56;
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
}

body {
    margin: 0;
}

nav {
    display:table;
    width:100%;
    background-color: #9baeb1;
}

.mainNav {
	display: none;
}

.mainNav li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0px 4px 0px 20px;
	padding: 1px;
}

.showNav {
	display: block;
}

.nav-icon {
	float: right;
	padding-top: 2px;
	margin: 10px 10px 7px 10px;
	cursor: pointer;
}

.nav-icon ion-icon {
	font-size: 200%;
}

nav ul {
	display: block;
    font-size: x-large;
    padding-top: 7px;
    text-align: right;
    margin-right: 40px;
}

nav ul, footer ul {
    font-family: 'Arial Black', 'Gadget', 'sans-serif';
    list-style: none;
}
.blurb ul li, nav ul li, footer ul li {
    display: inline;
    margin: 10px;
}

.container {
    margin-top: 20px;
}

footer p {
    text-align: center;
    color: #9baeb1;
}
a {
    text-decoration: none;
}
nav a {
    color: white;
}
a:hover {
	color: white;
    text-decoration: none;
}

.blurb * {
    font-family: 'Nunito Sans', serif;
}

.blurb h1 {
    font-size: 2.7em;
}
.blurb p {
    font-size: 1.5em;
    line-height: 1.6em;
    padding-top: 10px;
    color: #333;
}
footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #d5d5d5;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.blurb {
    text-align: center;
    padding-top: 20px;
}

.col-md-4 * {
    font-family: 'Nunito Sans', serif;
}

.col-md-4 {
    padding-top: 40px;
}

.col-md-4 p {
    font-size: 1.1em;
    color: #393939;
    line-height: 1.8em
}

.col-md-4 img {
    padding: 20px;
}

.col-md-4 h4 {
    padding: 12px;
    font-weight: normal;
}

.social {
    padding-top: 20px;
    padding-inline-start: 0;
}

.credits * {
    color: white;

}

/* Media Queries */

/* one line navigation for desktop and bigger resolutions */
@media (min-width: 768px) { 
	  
	.mainNav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.nav-icon {
		display: none;
	}
}
