<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131669058-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131669058-1');
  </script>
  <meta charset="UTF-8">
  <meta name="description" content="High scale scheduler, event dispatcher for clustered environment">
  <meta name="keywords" content="java,scheduler,docker,cluster,react,event">
  <meta name="author" content="Eli Segal">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
</head>
<body>
{% include header.html %}
<div class="container">

  {{ content }}

</div>
<footer class="text-center small">
  Licensed under Apache-2.0
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/js/doc_menu.js"></script>
</body>
</html>
